html, body{
    height: 100%;
    margin:0;
    padding: 0;
}

.sidebar{
    background-color: #999;
}

.weather-info{
    background-color: #ccc;
}

#autoComplete_list{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#autoComplete:hover{
    width:100%;
}


@media only screen and (min-width: 800px) {
    .wrapper{
        overflow: hidden;
        height: 100%;
    }
    .sidebar{
        width: 30%;
        float: left;
        height: 100%;
    }
    .weather-info{
        width: 70%;
        float: left;
        height: 100%;
    }
    .forecast-item{
        width: 33%;
        float: left;
    }
}