html, body{
    height: 100%;
    margin:0;
    padding: 0;
}

.wrapper{
    overflow: hidden;
    height: 100%;
}

.sidebar{
    width: 30%;
    float: left;
    height: 100%;
    background-color: #999;
}

.weather-info{
    background-color: #ccc;
    width: 70%;
    float: left;
    height: 100%;
}