<div class="sidebar">

    <input id="autoComplete" tabindex="1">    <!-- Default "id" value = "autoComplete"> -->

    {{#.}}
    <div class="favorite-city">
        <a href="index.php?cityId={{id}}">{{name}}</a>
    </div>
    {{/.}}
</div>