<div class="weather-now">
    {{#data}}
        <fieldset>
            <legend>Current weather in {{name}} ({{#formatDate}}{{dt}}{{/formatDate}})</legend>
            <div class="weather-box">
                {{#weather}}
                    {{#.}}
                        <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" title="{{main}} - {{description}}">
                    {{/.}}
                {{/weather}}
            </div>
            <div class="main-box">
                <ul>
                    {{#main}}
                        <li>temp: {{#formatDegrees}}{{temp}}{{/formatDegrees}}ºF</li>
                        <li>min: {{#formatDegrees}}{{temp_min}}{{/formatDegrees}}ºF</li>
                        <li>max: {{#formatDegrees}}{{temp_max}}{{/formatDegrees}}ºF</li>
                        <li>pressure: {{pressure}}</li>
                        <li>humidity: {{humidity}}%</li>
                    {{/main}}
                </ul>
            </div>
        </fieldset>
    {{/data}}

</div>